*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(57, 53, 49);
}
button{
    padding: 0.6rem;
    cursor: pointer;
}
.calculator{
    padding: 1rem 0.6rem;
    background-color: #1f1d1d;
    width: 300px;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: -10px 10px 15px black;
}

.display input{
    text-align: right;
    padding: 0 3px;
    font-size: 30px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
}
.display{
    padding: 1.5rem 0.2rem;
    background-color: #141414;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
ul li{
    padding: 10px; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.equal{
    display: flex;
}
.equal1{
    width: 73%;
}
.equal2{
    width: 26%;
    display: flex;
    justify-content: end;
}
.equalToo{
    background-color: rgb(55, 212, 55);    
    border-radius: 7px;
}
.special{
    color: rgb(55, 212, 55);
}